.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 925px) {
  .profile__avatar {
    margin-left: 27px;
  }
}

@media screen and (max-width: 720px) {
  .profile__avatar {
    margin: 2px 0 25px 0;
  }
}

@media screen and (max-width: 400px) {
  .profile__avatar {
    padding-left: 1px;
    margin-bottom: 25px;
  }
}