.element__delete-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 18px;
  height: 19px;
  border: none;
  background: none;
  background-image: url('../../../images/Trash.svg');
  color: #ffffff;
  cursor: pointer;
}

.element__delete-btn:hover {
  opacity: .6;
}